@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;700&display=swap');

* {
    box-sizing: border-box;
}

html, body {
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.box-shadow {
    box-shadow: 0px 5px 5px rgb(0 0 0 / 20%);
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.9);
}

.bg-light-grey {
    background-color: whitesmoke;
}

.text-red {
    color: #CC112C !important;
}

.fw-lighter { 
    font-weight: 200!important;
}

.heading-padding {
    padding-top: 8rem;
}

/*====== Hover Effect ======*/
.hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}

.hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: #CC112C;
    height: 4px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-underline-from-center:hover:before, 
.hvr-underline-from-center:focus:before, 
.hvr-underline-from-center:active:before {
    left: 0;
    right: 0;
}

/*====== Navbar =======*/

.navbar {
    -webkit-transition: all 0.6s ease-out;
    -moz-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;
    -ms-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
    padding: 1rem 5rem;
    transition: background-color 0.4s ease-out;
}

.navbar.scrolled {
    background-color: #F2F2F2;
    opacity: 0.85;
    color: #CC112C;
    box-shadow: 0px 5px 5px rgb(0 0 0 / 20%);
}

.nav-item {
    padding: 0 1rem;
}

.nav-item .nav-link {
    color: #FFF;
}

.navbar.scrolled a {
    color: #CC112C !important;
}

.navbar-toggler {
    padding: 0;
    line-height: 0;
    height: 1em !important;
}

.navbar-toggler:focus {
    box-shadow: none;
}

/*====== Hero Section =======*/

#hero {
    padding-top: 5rem;
    height: 100%;
    width: 100%;
    background: url('/assets/img/bg-banner.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
}

#hero .hero-image img {
    height: auto;
    width: 509px;
    overflow-y: hidden;
}

.hero-logo img {
    height: 65%;
    width: 65%;
}

.hero-heading {
    font-size: 3.4rem;
}

.hero-text {
    padding: 10rem 0 0 5rem;
}

/*= Hero Carousel =*/

.carousel-item {
    height: 125px;
}

.carousel-indicators {
    right: auto;
    margin: 0 0 0 0;
    transform: translateX(-4px);
}

.carousel-indicators [data-bs-target]{
    height: 4px;
    width: 4.5px;
    background-color: transparent;
    border: 1.8px solid orange;
}

.carousel-indicators .active {
    background-color: orange;
}

/*====== About Section ======*/

#About-section {
    height: 100%;
    padding-bottom: 14rem;
}

.heat-wave-img {
    padding-top: 6rem;
}

.back-pain-img {
    left: 22rem;
    padding-top: 2rem;
}

.tooltips,
.tooltips img {
    position: absolute;
    z-index: 999999;
} 

.tooltip-top img { 
    bottom: 20.8rem;
    left: 32.2rem;
}

.tooltip-left img {
    bottom: 10.3rem;
    left: 27.8rem;
}

.tooltip-right img {
    bottom: 10.2rem;
    left: 39rem;
}

.tooltip-middle img {
    bottom: 4.5rem;
    left: 34rem;
}

.tooltip-bottom img {
    top: 0.6rem;
    left: 34rem;
}

/*====== Footer Section ======*/

footer .col {
    height: 100px;
    background-color: #9D2C29;
    padding: 0 5rem;
}

.footer p,
.footer .links {
    padding-top: 2.3rem;
}

.angel-logo {
    padding: 2rem 2rem;
}

/*====== Mobiles ======*/

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {

    .container-fluid {
        padding: 0 1rem;
    }
    
    /* Navbar */
    .navbar {
        padding: 0rem 0rem;
    }

    .navbar.color-change {
        background-color: #9D2C29;
        opacity: 1;
        color: #FFF;
    }

    .navbar.scrolled a {
        color: #9D2C29 !important;
    }

    #Logo {
        padding: 1.5rem 2rem;
    }

    .navbar-toggler {
        padding-right: 2rem;
    }

    .navbar-nav {
        padding: 1rem 0;
        width: 100vw;
        background-color: #F2F2F2;
    }

    .nav-item .nav-link {
        padding: 1rem 0rem;
        color: #540F16;
    }

    hr {
        color: white;
    }

    /* About Section */

    .about-images img {
        position: relative;
        height: 50px;
        width: 50px;
    }

    .back-pain-img {
        left: auto;
    }

    .footer .col {
        height: auto;
    }
}
