@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;700&display=swap');

* {
    box-sizing: border-box;
}

html, body {
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.box-shadow {
    box-shadow: 3px 3px 5px rgb(0 0 0 / 20%);
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.9);
}

.btn-whitesmoke {
    color:#F2F2F2!important;
}

.bg-whitesmoke {
    background: #F2F2F2!important;
}

.text-red {
    color: #CC112C !important;
}

.text-red-2 {
    color: #540F16;
}

.fw-lighter { 
    font-weight: 200!important;
}

.heading-padding {
    padding-top: 8rem;
}

.tooltip.bs-tooltip-top .tooltip-arrow::before,
.tooltip.bs-tooltip-bottom .tooltip-arrow::before,
.tooltip.bs-tooltip-start .tooltip-arrow::before,
.tooltip.bs-tooltip-end .tooltip-arrow::before   {
    display:none;
}

.tooltip {
    pointer-events: none;
}

.tooltip.show {
    opacity: 1;
}

span .break {
    display: block;
}

/*====== Hover Effect ======*/
.hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}

.hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: #CC112C;
    height: 4px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-underline-from-center:hover:before, 
.hvr-underline-from-center:focus:before, 
.hvr-underline-from-center:active:before {
    left: 0;
    right: 0;
}

/*====== Navbar =======*/

.navbar {
    -webkit-transition: all 0.6s ease-out;
    -moz-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;
    -ms-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
    padding: 1rem 5rem;
    transition: background-color 0.4s ease-out;
    z-index: 5;
}

.navbar.scrolled {
    background-color: #F2F2F2;
    opacity: 0.85;
    color: #CC112C;
    box-shadow: 0px 5px 5px rgb(0 0 0 / 20%);
}

.nav-item {
    padding: 0 1rem;
}

.nav-item .nav-link {
    color: #FFF;
}

.navbar.scrolled a {
    color: #CC112C !important;
}

.navbar-toggler {
    padding: 0;
    line-height: 0;
    height: 1em !important;
}

.navbar-toggler:focus {
    box-shadow: none;
}

/*====== Hero Section =======*/

#hero {
    padding-top: 5rem;
    height: 100%;
    width: 100%;
    background: url('/assets/img/bg-banner.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
}

#hero .hero-image img {
    height: 100%;
    width: 509px;
    overflow-y: hidden;
}

.hero-logo img {
    height: 65%;
    width: 65%;
}

.hero-heading {
    font-size: 3.4rem;
}

.hero-text {
    padding: 10rem 0 0 5rem;
}

/*== Hero Carousel ==*/

.carousel-item {
    height: 125px;
}

.carousel-indicators {
    right: auto;
    margin: 0 0 0 0;
    transform: translateX(-4px);
}

.carousel-indicators [data-bs-target]{
    height: 4px;
    width: 4.5px;
    background-color: transparent;
    border: 1.8px solid orange;
}

.carousel-indicators .active {
    background-color: orange;
}

/*====== About Section ======*/

#About-section {
    height: auto;
    overflow-y: hidden;
}

.about-images {
    max-height: 700px;
    height: auto;
}

.heat-wave-img {
    padding-top: 6rem;
}

.back-pain-img {
    position: relative;
    left: -2%;
    transform: translateY(-82%);
}

.tooltips {
    position: relative;
    z-index: 2;
} 

.tooltip-top { 
    position: inherit;
    bottom: 55rem;
    left: 4.5rem;
}

.tooltip-left {
    position: inherit;
    bottom: 44.4rem;
    right: 3.2rem;
}

.tooltip-right {
    position: inherit;
    bottom: 44.5rem;
    left: 5rem;
}

.tooltip-middle {
    position: inherit;
    bottom: 39rem;
    right: 3.8rem;
}

.tooltip-bottom {
    position: inherit;
    bottom: 30.7rem;
    right: 7rem;
}  

.custom-tooltip.tooltip > .tooltip-inner {
    background: transparent;
    max-width: 500px;
}

.hover-img {
    z-index: 3;
    height: 150px;
}

.tooltip-caption-left p { 
    padding-left: 1rem;
 }

/* Top & Bottom Tooltip */

.tooltip-caption-top,
.tooltip-caption-bottom {
    height: 120px;
    width: 315px;
    transform: translate(-3.5rem, 0.7rem);
}

.caption-title-top,
.caption-title-bottom {
    padding-top: 1rem;
    padding-left: 3.8rem;
    font-weight: 500;
}

.caption-text-top,
.caption-text-bottom {
    transform: translate(-1px, -1rem);
    padding-left: 3.8rem;
    padding-bottom: 1.5rem;
}

.tooltip-caption-bottom {
    transform: translate(-3.5rem, 3.75rem);
}

.hover-img.bottom{
    transform: translateY(3rem);
}

/* Left Tooltip */

.tooltip-left-container {
    transform: translate(-130px, 50px);
}

.tooltip-caption-left { 
    width: 380px;
    transform: translateY(10px);
}

.hover-img.left {
    transform: translateX(-60px);
}

/* Right Tooltip */

.tooltip-caption-right { 
    padding-left: 5rem;
    transform:translate(125px, 255px);
}

.tooltip-caption-right p {
    width: 250px;
    padding-right: 0.5rem;
}

.hover-img.right{
    transform:translate(190px, 240px);
}

/* Middle Tooltip */

.tooltip-caption-middle {
    padding-left: 2rem;
    padding-right: 3.5rem;
    transform: translate(50px, 100px);
}

.tooltip-caption-middle p {
    height: auto;
    width: 250px;
}

.hover-img.middle {
    transform: translate(-20px,80px);
} 

/*====== Footer Section ======*/

footer .col {
    height: 100px;
    background-color: #9D2C29;
    padding: 0 5rem;
}

.footer p,
.footer .links {
    padding-top: 2.3rem;
}

.angel-logo {
    padding: 0rem 2rem;
}

/*====== Mobiles ======*/

@media only screen 
  and (min-width: 320px) 
  and (max-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {

    .container-fluid {
        padding: 0 1rem;
        overflow-x: hidden;
    }
    
    /*=== Navbar ===*/
    .navbar {
        padding: 0rem 0rem;
    }

    .navbar.color-change {
        background-color: #9D2C29;
        opacity: 1;
        color: #FFF;
    }

    .navbar.scrolled a {
        color: #9D2C29 !important;
    }

    #Logo {
        padding: 1.5rem 2rem;
    }

    .navbar-toggler {
        padding-right: 2rem;
    }

    .navbar-nav {
        padding: 1rem 0;
        width: 100vw;
        background-color: #F2F2F2;
    }

    .nav-item .nav-link {
        padding: 1rem 0rem;
        color: #540F16;
    }

    hr {
        color: white;
        height: 4px !important;
    }

    /*=== Hero Section ===*/

    #hero {
        padding-bottom: 3.3rem;
    }

    .hero-heading {
        font-size: 2.5rem;
    }

    .hero-logo img {
        display: none;
    }

    .hero-text {
        padding: 8rem 0 0 0;
    }

    .carousel-item {
        height: 180px;
    }

    /*=== About Section ===*/

    #About-section {
        padding-bottom: 3rem;
    }

    #About-section .break {
        display: block;
    }

    .heading-padding {
        padding-top: 4rem;
    }

    .about-images {
        margin-left: 0!important;
        padding-top: 0!important;
    }

    .about-images img {
        position: absolute;
        height: 300px;
        width: auto;
        right: 4rem;
    }

    .back-pain-img {
        left: 35px;
        padding-top: 0;
    }

    .about-cards {
        padding-top: 8rem;
    }

    .about-cards-1 {
        padding-top: 8rem;
    }

    .about-card-img {
        height: 120px;
    }

    .about-card-img img{
        width: 150px;
        height: 150px;
        position: relative;
        left: 5.2rem; 
        bottom: 4rem;
    }

    .about-card-text {
        width: 100%;
        height: auto;
    }

    /*=== Footer ===*/

    .footer .col {
        height: auto;
        padding: 0 7%;
    }

    footer .container-fluid {
        padding: 0 0;
    }

    .footer p,
    .footer .links {
        white-space: nowrap;
    }

    .angel-logo {
        height: 35px;
        margin-top: 2rem;
    }
}

/* Large Screens */
@media (min-width:1440px) {

    #About-section {
        padding-bottom: 3rem;
    }

    .about-images {
        max-height: 1000px;
    }

    .back-pain-img {
        position: relative;
        left: -2%;
        transform: translate(-88%);
    }

    .heat-wave-img {
        transform: translate(30%, -12%);
    }

    .tooltip-top { 
        position: inherit;
        bottom: 29.5rem;
        left: 4.5rem;
    }
    
    .tooltip-left {
        position: inherit;
        bottom: 18.7rem;
        right: 3.2rem;
    }
    
    .tooltip-right {
        position: inherit;
        bottom: 18.7rem;
        left: 5rem;
    }
    
    .tooltip-middle {
        position: inherit;
        bottom: 13.5rem;
        right: 3.8rem;
    }
    
    .tooltip-bottom {
        position: inherit;
        bottom: 5rem;
        right: 7rem;
    }  

    /* Right Tooltip */

    .tooltip-caption-right { 
        padding-left: 5rem;
        transform:translate(-165px, 70px);
    }

    .tooltip-caption-right p {
        width: 250px;
        padding-right: 0.5rem;
    }

    .hover-img.right{
        transform:translate(-100px, 60px);
    }
}
